{
  "log": {
    "_recordingName": "payloads-controller",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "7b9805a551b790adef9dc1bc5c68abcb",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-access-key",
              "value": "REDACTED_API_KEY"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"slug\":\"controller-spec\",\"display_name\":\"Vitest test payload\",\"fork_config\":{\"network_id\":1,\"block_number\":\"0x14fbbc1\"},\"virtual_network_config\":{\"chain_config\":{\"chain_id\":3030}},\"sync_state_config\":{\"enabled\":false},\"explorer_page_config\":{\"enabled\":false,\"verification_visibility\":\"bytecode\"}}"
          },
          "queryString": [],
          "url": "https://api.tenderly.co/api/v1/account/bgd-labs/project/seatbelt/vnets"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 114,
            "text": "{\"error\":{\"id\":\"43553cfd-79e2-48f6-8abb-60ac9599a7f9\",\"slug\":\"conflict\",\"message\":\"Unexpected resource conflict\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "600, 600;w=60"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "598"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "14"
            },
            {
              "name": "x-tdly-limit",
              "value": "400"
            },
            {
              "name": "x-tdly-remaining",
              "value": "397"
            },
            {
              "name": "x-tdly-reset-timestamp",
              "value": "1766087627418"
            }
          ],
          "status": 409,
          "statusText": "Conflict"
        },
        "time": 280,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
