{
  "log": {
    "_recordingName": "tenderly",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "7a7bc02cc50843284005ef73ff174926",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-access-key",
              "value": "REDACTED_API_KEY"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"slug\":\"tenderly-spec\",\"display_name\":\"Vitest test\",\"fork_config\":{\"network_id\":1},\"virtual_network_config\":{\"chain_config\":{\"chain_id\":3030}},\"sync_state_config\":{\"enabled\":false},\"explorer_page_config\":{\"enabled\":false,\"verification_visibility\":\"bytecode\"}}"
          },
          "queryString": [],
          "url": "https://api.tenderly.co/api/v1/account/bgd-labs/project/seatbelt/vnets"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 114,
            "text": "{\"error\":{\"id\":\"56f8473e-a01a-4776-b5c1-6c7dca4edc13\",\"slug\":\"conflict\",\"message\":\"Unexpected resource conflict\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "600, 600;w=60"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "599"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "15"
            },
            {
              "name": "x-tdly-limit",
              "value": "400"
            },
            {
              "name": "x-tdly-remaining",
              "value": "398"
            },
            {
              "name": "x-tdly-reset-timestamp",
              "value": "1766087627418"
            }
          ],
          "status": 409,
          "statusText": "Conflict"
        },
        "time": 809,
      },
      {
        "_id": "9a5457e251820ba72a7b1940bc61906a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-access-key",
              "value": "REDACTED_API_KEY"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"slug\"[...]
