{
  "log": {
    "_recordingName": "explorers",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "aa33ceaf98a63b8bd52b3986a9ee06cb",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "chainid",
              "value": "1"
            },
            {
              "name": "address",
              "value": "0x87870Bca3F3fD6335C3F4ce8392D69350B4fA4E2"
            },
            {
              "name": "module",
              "value": "contract"
            },
            {
              "name": "action",
              "value": "getsourcecode"
            },
            {
              "name": "apikey",
              "value": "REDACTED_API_KEY"
            }
          ],
          "url": "https://api.etherscan.io/v2/api?chainid=1&address=0x87870Bca3F3fD6335C3F4ce8392D69350B4fA4E2&module=contract&action=getsourcecode&apikey=REDACTED_API_KEY"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 5387,
            "text": "{\"status\":\"1\",\"message\":\"OK\",\"result\":[{\"SourceCode\":\"{{\\r\\n  \\\"language\\\": \\\"Solidity\\\",\\r\\n  \\\"settings\\\": {\\r\\n    \\\"evmVersion\\\": \\\"berlin\\\",\\r\\n    \\\"libraries\\\": {},\\r\\n    \\\"metadata\\\": {\\r\\n      \\\"bytecodeHash\\\": \\\"ipfs\\\",\\r\\n      \\\"useLiteralContent\\\": true\\r\\n    },\\r\\n    \\\"optimizer\\\": {\\r\\n      \\\"enabled\\\": true,\\r\\n      \\\"runs\\\": 100000\\r\\n    },\\r\\n    \\\"remappings\\\": [],\\r\\n    \\\"outputSelection\\\": {\\r\\n      \\\"*\\\": {\\r\\n        \\\"*\\\": [\\r\\n          \\\"evm.bytecode\\\",\\r\\n          \\\"evm.deployedBytecode\\\",\\r\\n          \\\"devdoc\\\",\\r\\n          \\\"userdoc\\\",\\r\\n          \\\"metadata\\\",\\r\\n          \\\"abi\\\"\\r\\n        ]\\r\\n      }\\r\\n    }\\r\\n  },\\r\\n  \\\"sources\\\": {\\r\\n    \\\"@aave/core-v3/contracts/dependencies/openzeppelin/contracts/Address.sol\\\": {\\r\\n      \\\"content\\\": \\\"// SPDX-License-Identifier: AGPL-3.0\\\\npragma solidity 0.8.10;\\\\n\\\\n/**\\\\n * @dev Collection of functions related to the address type\\\\n */\\\\nlibrary Address {\\\\n  /**\\\\n   * @dev Returns true if `account` is a contract.\\\\n   *\\\\n   * [IMPORTANT]\\\\n   * ====\\\\n   * It is unsafe to assume that an address for which this function returns\\\\n   * fal[...]
